.inter-normal {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
     font-style: normal;
     }

  * {
    background-color: black
    }
*{
    margin: 0;
}
.nav-l-1 {
    color: #E6533C
    ;
}

.nav-r-col
{
    color: #FFFFFF
}

.font-color{
    color: #FFFFFF
}
.nav-r-but {
    background-color: #E6533C;
    color: white;
    width: 90px;
    height: 38px;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 8px, 20px, 8px, 20px;
    border-radius: 46px;
        /* font-size: 16px; */
}

.nav-r-but-1 {
    background-color: #E6533C;
    color: white;
    width: 10.5rem;
    height: 4rem;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 16px, 40px, 16px, 40px;
    border-radius: 42px;
    font-size: 16px;
}

.nav-r-but-2 {
    
    background-color: black;
    color: white;
    width: 10.5rem;
    height: 4rem;
    /* border: none; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 16px, 40px, 16px, 40px;
    border-radius: 42px;
    font-size: 18px;
}

.nav-container {
    width: 90%;
    margin: 5rem auto;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-r {
    display: flex;
    justify-content: space-evenly;
    gap: 3rem;
}

.nav-r-col {
    display: flex;
    justify-content: space-evenly;
    gap: 3rem;
    
}

.nav-r-but-11 {
    background-color: #E6533C;
    color: white;
    width: 10.5rem;
    height: 4rem;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 16px, 40px, 16px, 40px;
    border-radius: 42px;
    font-size: 16px;
}

.nav-r-but-22 {
    
    background-color: black;
    color: white;
    width: 10.5rem;
    height: 4rem;
    /* border: none; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 16px, 40px, 16px, 40px;
    border-radius: 42px;
    font-size: 18px;
}

.body-shape-button {
    display: flex;
    gap: 10px;
}

.shape-button-1 {
    background-color: #303030;
    color: white;
    width: 10.5rem;
    height: 4rem;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 16px, 40px, 16px, 40px;
    /* border-radius: 42px; */
    font-size: 16px;
}


.body-shape{
    width: 90%;
    margin: 5rem auto;
    border-radius: 1rem;
     align-items: center;
     margin-left: 5rem;
    
}
.body-shape-container {
    display: flex;
    margin-right: 6rem;
    
}


#badge-1{
    padding: 6px 7px;
    font-size: 0.8rem;
    font-weight: 500;
    margin-left: -100px;
    margin-top: -150px;
    border-radius: 5px;
    background-color: #555;
}
#badge-2{
    font-size: 2rem;
    font-weight: 700;
}

#badge-3{
        
    position: absolute;
  top: 48%;
  left: 93%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 0.8rem;
  padding: 6px 7px;
  border: none;
   border-radius: 5px;
  text-align: center;
}
#badge-4{
    font-size: 2rem;
    font-weight: 700;
}

.habit-u {

    max-width: 540px;
    margin: 10px auto;
    text-align: center;
    font-size: xx-large;
    color: #FFFFFF

}

.habit-p {
    color: #FFFFFF;
    text-align: center;
    font-size: small;
      
}

.habit-p {
    display: flex;
    justify-content: center;
    gap: 50px;

}